#player {
    font-weight: bold;
    font-size: 30px;
    margin: 10px 0 20px 0;
}

#start-new {
    margin-bottom: 20px;
}

main {
    display: grid;
    grid-template-columns:  200px 200px 200px;
    grid-gap: 5px;
    width: 600px;
    margin: 0 auto;
}
  
app-square {
    border: 1px gray solid;
    height: 200px;
}

@media only screen and (max-width: 635px) {
    h1 {
        margin-top: 0;
        font-size: 12;
    }
    main {
        display: grid;
        grid-template-columns:  100px 100px 100px;
        grid-gap: 5px;
        width: 300px;
        margin: 0 auto;
    }
    app-square {
        border: 1px gray solid;
        height: 100px;
    }
    #player {
        font-weight: bold;
        font-size: 18px;
        margin: 10px 0 20px 0;
    }
}